In [74]:
import pandas as pd 
df=pd.read_csv('dirty_cafe_sales.csv')
df.head(10)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,UNKNOWN,3,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31

In [97]:
df.info()        # Summary of columns, data types, non-null counts
df.describe()    # Statistical summary (mean, std, etc.)
df.head()        # First few rows
df.tail()        # Last few rows
df.shape         # Number of rows and columns
df.columns

<class 'pandas.core.frame.DataFrame'>
Index: 9447 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9447 non-null   object
 1   Item              9447 non-null   object
 2   Quantity          9447 non-null   object
 3   Price Per Unit    9447 non-null   float64
 4   Total Spent       9447 non-null   float64
 5   Payment Method    9447 non-null   object
 6   Location          9447 non-null   object
 7   Transaction Date  9447 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 664.2+ KB

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

In [96]:
df[['Item','Quantity','Price Per Unit','Total Spent']].sample(25)

          Item Quantity  Price Per Unit  Total Spent
3145      Cake        5             3.0         15.0
8304    Coffee        1             2.0          2.0
7033       Tea        1             1.5          1.5
4467  Sandwich        3             4.0         12.0
138   Sandwich        5             4.0         20.0
8359     Juice        1             3.0          3.0
2831       Tea        4             1.5          6.0
4758     Juice        1             3.0          3.0
1749       Tea        2             1.5          3.0
89      Cookie        5             1.0          5.0
943   Sandwich        1             4.0          4.0
6267      Cake        5             3.0         15.0
1123    Coffee        3             2.0          6.0
5368       Tea        4             1.5          6.0
8871    Coffee        5             2.0         10.0
6370  Sandwich        3             4.0         12.0
3785  Sandwich        3             4.0         12.0
6253     Juice        2             3.0          6.0
6404    Cookie        5             1.0          5.0
4595     Salad        2             5.0         10.0
1716     Salad        1             5.0          5.0
3472  Smoothie        2             4.0          8.0
6806  Sandwich        3             4.0         12.0
5870     Juice        3             3.0          9.0
3469    Coffee        4             2.0          8.0

In [95]:
df['Location'].sample(25)

3862    Takeaway
9969    In-store
8101     Unknown
9062    In-store
7013    In-store
8546     Unknown
2204     Unknown
8073    Takeaway
8964    In-store
8017    In-store
8627     Unknown
9340    Takeaway
5140    Takeaway
4151    In-store
4626     Unknown
4887     Unknown
5194    In-store
9281    In-store
1527    In-store
9366     Unknown
7710     Unknown
2415    In-store
2345    In-store
378      Unknown
8985    In-store
Name: Location, dtype: object

In [94]:
df.isnull().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [79]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

In [80]:
df['Transaction Date'].fillna(method='ffill', inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_2164\3186130383.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Transaction Date'].fillna(method='ffill', inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_2164\3186130383.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Transaction Date'].fillna(method='ffill', inplace=True)

In [81]:
df['Total Spent'].replace(['UNKNOWN', 'ERROR'], np.nan, inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_2164\1323861018.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Total Spent'].replace(['UNKNOWN', 'ERROR'], np.nan, inplace=True)

In [82]:
df.dropna(subset=['Total Spent'], inplace=True)

In [83]:
df['Item'].unique()

array(['Coffee', 'Cake', 'Salad', 'Smoothie', 'UNKNOWN', 'Sandwich', nan,
       'Cookie', 'ERROR', 'Juice', 'Tea'], dtype=object)

In [84]:
df['Price Per Unit'].unique()

array(['2.0', '3.0', '5.0', '4.0', '1.0', '1.5', nan, 'ERROR', 'UNKNOWN'],
      dtype=object)

In [85]:
import numpy as np
import pandas as pd

# Assume your DataFrame is named df
missing_values = ['UNKNOWN', 'ERROR']
df.replace(missing_values, np.nan, inplace=True)
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')

In [86]:
# Create a mapping from Item to the median Price
item_to_price = df.groupby('Item')['Price Per Unit'].median()

# Create a reverse mapping from Price to the most common Item
price_to_item = df.groupby('Price Per Unit')['Item'].agg(lambda x: x.mode()[0])

In [87]:
# Fill missing 'Price Per Unit' values using the mapping
df['Price Per Unit'] = df['Price Per Unit'].fillna(df['Item'].map(item_to_price))

# Fill missing 'Item' values using the reverse mapping
df['Item'] = df['Item'].fillna(df['Price Per Unit'].map(price_to_item))

In [88]:
# Coerce the column to a numeric type
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')

# Drop rows where BOTH 'Item' and 'Price Per Unit' are NaN
df.dropna(how='all', subset=['Item', 'Price Per Unit'], inplace=True)

In [89]:
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')

# Now, perform the fillna operation
df['Quantity'] = df['Quantity'].fillna(df['Total Spent'] / df['Price Per Unit'])

# Round to a specific decimal place if needed
df['Quantity'] = df['Quantity'].round(2)

In [90]:
df['Payment Method'].unique()

array(['Credit Card', 'Cash', nan, 'Digital Wallet'], dtype=object)

In [91]:
mode_value = df['Payment Method'].mode()[0]

# Fill the NaN values with the mode
df['Payment Method'].fillna(mode_value, inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_2164\1806952858.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Payment Method'].fillna(mode_value, inplace=True)

In [92]:
df['Location'].unique()

array(['Takeaway', 'In-store', nan], dtype=object)

In [93]:
df['Location'].fillna('Unknown', inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_2164\1139297364.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Location'].fillna('Unknown', inplace=True)