In [102]:
import pandas as pd
df=pd.read_csv('food_coded.csv')
df.head(10)

,GPA,Gender,breakfast,calories_chicken,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.400,2,1,430,315,1,none,we dont have comfort,2,9,...,1,1,1,1165,345,car racing,5,1,1315,187
1,3.654,1,1,610,420,2,"chocolate, chips, ice cream","Stress, bored, anger",3,1,...,1,1,2,725,690,Basketball,4,2,900,155
2,3.500,1,1,720,420,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1,1,...,1,1,4,940,500,Softball,4,2,760,190
3,2.250,1,1,610,980,2,"Candy, brownies and soda.","None, i don't eat comfort food. I just eat whe...",3,4,...,1,2,4,940,345,None.,1,2,1315,190
4,3.800,2,1,610,420,2,"Chocolate, ice cream, french fries, pretzels","stress, boredom",2,1,...,1,1,5,940,690,soccer,4,1,1315,180
5,3.300,1,1,720,420,1,"Ice cream, cheeseburgers, chips.",I eat comfort food when im stressed out from s...,3,1,...,1,2,1,725,500,none,4,2,1315,137
6,3.300,1,1,430,420,1,"Donuts, ice cream, chips",Boredom,3,2,...,2,2,5,725,345,none,3,2,760,180
7,3.300,1,1,430,315,2,"Mac and cheese, chocolate, and pasta","Stress, anger and sadness",3,1,...,1,1,4,580,345,field hockey,5,1,900,125
8,3.500,1,1,610,980,2,"Pasta, grandma homemade chocolate cake anythin...",Boredom,1,2,...,1,1,2,940,345,soccer,5,2,900,116
9,3.904,1,1,720,420,2,"chocolate, pasta, soup, chips, popcorn","sadness, stress, cold weather",3,3,...,1,1,5,940,500,Running,5,1,900,110

In [103]:
df.info()        # Summary of columns, data types, non-null counts
df.describe()    # Statistical summary (mean, std, etc.)
df.head()        # First few rows
df.tail()        # Last few rows
df.shape         # Number of rows and columns
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 59 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GPA                         110 non-null    float64
 1   Gender                      110 non-null    int64
 2   breakfast                   110 non-null    int64
 3   calories_chicken            110 non-null    int64
 4   calories_scone              110 non-null    int64
 5   coffee                      110 non-null    int64
 6   comfort_food                110 non-null    object
 7   comfort_food_reasons        110 non-null    object
 8   cook                        110 non-null    int64
 9   comfort_food_reasons_coded  110 non-null    int64
 10  cuisine                     110 non-null    int64
 11  diet_current                110 non-null    object
 12  diet_current_coded          110 non-null    int64
 13  drink                       110 non-null    int64
 14  eating_changes              110 non-null    object
 15  eating_changes_coded        110 non-null    int64
 16  eating_changes_coded1       110 non-null    int64
 17  eating_out                  110 non-null    int64
 18  employment                  110 non-null    int64
 19  ethnic_food                 110 non-null    int64
 20  exercise                    110 non-null    int64
 21  father_education            110 non-null    int64
 22  father_profession           110 non-null    object
 23  fav_cuisine                 110 non-null    object
 24  fav_cuisine_coded           110 non-null    int64
 25  fav_food                    110 non-null    int64
 26  food_childhood              110 non-null    object
 27  fries                       110 non-null    int64
 28  fruit_day                   110 non-null    int64
 29  grade_level                 110 non-null    int64
 30  greek_food                  110 non-null    int64
 31  healthy_feeling             110 non-null    int64
 32  healthy_meal                110 non-null    object
 33  ideal_diet                  110 non-null    object
 34  ideal_diet_coded            110 non-null    int64
 35  income                      110 non-null    int64
 36  indian_food                 110 non-null    int64
 37  italian_food                110 non-null    int64
 38  life_rewarding              110 non-null    int64
 39  marital_status              110 non-null    int64
 40  meals_dinner_friend         110 non-null    object
 41  mother_education            110 non-null    int64
 42  mother_profession           110 non-null    object
 43  nutritional_check           110 non-null    int64
 44  on_off_campus               110 non-null    int64
 45  parents_cook                110 non-null    int64
 46  pay_meal_out                110 non-null    int64
 47  persian_food                110 non-null    int64
 48  self_perception_weight      110 non-null    int64
 49  soup                        110 non-null    int64
 50  sports                      110 non-null    int64
 51  thai_food                   110 non-null    int64
 52  tortilla_calories           110 non-null    int64
 53  turkey_calories             110 non-null    int64
 54  type_sports                 92 non-null     object
 55  veggies_day                 110 non-null    int64
 56  vitamins                    110 non-null    int64
 57  waffle_calories             110 non-null    int64
 58  weight                      110 non-null    int64
dtypes: float64(1), int64(46), object(12)
memory usage: 50.8+ KB

Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_scone',
       'coffee', 'comfort_food', 'comfort_food_reasons', 'cook',
       'comfort_food_reasons_coded', 'cuisine', 'diet_current',
       'diet_current_coded', 'drink', 'eating_changes', 'eating_changes_coded',
       'eating_changes_coded1', 'eating_out', 'employment', 'ethnic_food',
       'exercise', 'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

In [104]:
df.isnull().sum()

GPA                            0
Gender                         0
breakfast                      0
calories_chicken               0
calories_scone                 0
coffee                         0
comfort_food                   0
comfort_food_reasons           0
cook                           0
comfort_food_reasons_coded     0
cuisine                        0
diet_current                   0
diet_current_coded             0
drink                          0
eating_changes                 0
eating_changes_coded           0
eating_changes_coded1          0
eating_out                     0
employment                     0
ethnic_food                    0
exercise                       0
father_education               0
father_profession              0
fav_cuisine                    0
fav_cuisine_coded              0
fav_food                       0
food_childhood                 0
fries                          0
fruit_day                      0
grade_level                    0
greek_food                     0
healthy_feeling                0
healthy_meal                   0
ideal_diet                     0
ideal_diet_coded               0
income                         0
indian_food                    0
italian_food                   0
life_rewarding                 0
marital_status                 0
meals_dinner_friend            0
mother_education               0
mother_profession              0
nutritional_check              0
on_off_campus                  0
parents_cook                   0
pay_meal_out                   0
persian_food                   0
self_perception_weight         0
soup                           0
sports                         0
thai_food                      0
tortilla_calories              0
turkey_calories                0
type_sports                   18
veggies_day                    0
vitamins                       0
waffle_calories                0
weight                         0
dtype: int64

In [105]:
df['type_sports'].sample(25)

55                  Volleyball
74       Collegiate Water Polo
15                    dancing
5                         none
12                      Hockey
28                    softball
104                     Soccer
52                     skiing
68          competitive skiing
94                  Ice hockey
97                         NaN
22                  Ice hockey
47                      hockey
51                      Skiing
72                   wrestling
60                         NaN
73               Marching Band
109                        NaN
17                      Soccer
7                 field hockey
45                      Hockey
91                  volleyball
107                       none
44                         NaN
71     softball and basketball
Name: type_sports, dtype: object

In [106]:
df['type_sports'].unique()

array(['car racing', 'Basketball ', 'Softball', 'None.', 'soccer', 'none',
       'field hockey', 'Running', 'Soccer and basketball ',
       'intramural volleyball', 'Hockey', nan, 'hockey', 'dancing ',
       'basketball', 'Soccer', 'Tennis', 'tennis soccer gym',
       'Gaelic Football', 'Ice hockey', 'Lacrosse ', 'softball',
       'Lacrosse', 'Softball ', 'Dancing', 'wrestling ',
       'no particular engagement ', 'Volleyball', 'soccer ',
       'wrestling & rowing', 'Wrestling', 'Skiing', 'skiing ',
       'Water polo and running ', 'Ice Hockey', 'tennis  ',
       'Recreational Basketball, Equestrian Team', 'Rec Volleyball',
       'baseball', 'I danced in high school', 'horse back riding',
       'competitive skiing', 'Rowing, Running, and Cycling',
       'softball and basketball', 'wrestling', 'Marching Band',
       'Collegiate Water Polo', 'None right now', 'volleyball, lacrosse',
       'none ', 'Fotball', 'crew',
       'Football, Basketball, Volleyball, Golf', 'hockey, soccer, golf',
       'Running ', 'Volleyball, Track',
       'When I can, rarely though play pool, darts, and basketball.',
       'volleyball', 'I used to play softball ', ' None',
       'Tennis, Basketball', "No, I don't play sport.", 'basketball '],
      dtype=object)

###Different starategy for cleaning and transforming that dataset 
the dataset has many null values in the columns ranging from one to three
I add/fill the null values manully due to row no of rows and easy due to numerical columns

In [96]:
df['type_sports'].sample(20)

55                           rowing
41               wrestling & rowing
10            soccer and basketball
17                           soccer
92                       volleyball
98                              NaN
102                             NaN
32                         lacrosse
67                horse back riding
96                              NaN
18                           tennis
83                              NaN
70     rowing, running, and cycling
86                           soccer
52                           skiing
107                      basketball
12                           hockey
65                         baseball
15                          dancing
14                           hockey
Name: type_sports, dtype: object

In [97]:
df['type_sports'].unique()

array(['car racing', 'basketball', 'softball', nan, 'soccer',
       'field hockey', 'running', 'soccer and basketball',
       'intramural volleyball', 'hockey', 'dancing', 'tennis',
       'tennis soccer gym', 'gaelic football', 'ice hockey', 'lacrosse',
       'wrestling', 'volleyball', 'wrestling & rowing', 'skiing',
       'water polo and running', 'rowing',
       'recreational basketball, equestrian team', 'rec volleyball',
       'baseball', 'i danced in high school', 'horse back riding',
       'competitive skiing', 'rowing, running, and cycling',
       'softball and basketball', 'marching band',
       'collegiate water polo', 'volleyball, lacrosse', 'fotball', 'crew',
       'football, basketball, volleyball, golf', 'hockey, soccer, golf',
       'volleyball, track',
       'when i can, rarely though play pool, darts, and basketball.',
       'i used to play softball', 'tennis, basketball'], dtype=object)

In [108]:
# ================================================================
# STEP 1 — Import Required Libraries
# ================================================================
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score, classification_report
import matplotlib.pyplot as plt
import seaborn as sns

In [109]:
# ================================================================
# STEP 4 — Clean and Normalize 'type_sports' Text Values
# ================================================================
def clean_sport_value(x):
    if pd.isna(x):
        return np.nan
    x = str(x).strip().lower()
    # Replace variants of "none" with NaN (to predict later)
    none_words = [
        'none', 'none.', 'none ', 'no particular engagement',
        "no, i don't play sport.", 'none right now', ' none'
    ]
    if x in none_words:
        return np.nan
    return x

df['type_sports'] = df['type_sports'].apply(clean_sport_value)

print("\nUnique values after cleaning:\n", df['type_sports'].unique())
print("Missing after cleaning:", df['type_sports'].isna().sum())

Unique values after cleaning:
 ['car racing' 'basketball' 'softball' nan 'soccer' 'field hockey'
 'running' 'soccer and basketball' 'intramural volleyball' 'hockey'
 'dancing' 'tennis' 'tennis soccer gym' 'gaelic football' 'ice hockey'
 'lacrosse' 'wrestling' 'volleyball' 'wrestling & rowing' 'skiing'
 'water polo and running' 'recreational basketball, equestrian team'
 'rec volleyball' 'baseball' 'i danced in high school' 'horse back riding'
 'competitive skiing' 'rowing, running, and cycling'
 'softball and basketball' 'marching band' 'collegiate water polo'
 'volleyball, lacrosse' 'fotball' 'crew'
 'football, basketball, volleyball, golf' 'hockey, soccer, golf'
 'volleyball, track'
 'when i can, rarely though play pool, darts, and basketball.'
 'i used to play softball' 'tennis, basketball']
Missing after cleaning: 31

In [110]:
# ================================================================
# STEP 5 — Find Related Columns by Correlation with Physical Activity
# ================================================================
# Convert non-numeric to numeric temporarily for correlation
df_encoded = df.copy()
for col in df_encoded.columns:
    if df_encoded[col].dtype == 'object':
        df_encoded[col] = pd.factorize(df_encoded[col])[0]

corr = df_encoded.corr()['weight'].sort_values(ascending=False)
print(corr.head(30))  # View top correlated columns

# Select top logical & correlated columns with 'type_sports'
related_cols = [
    'Gender', 'drink', 'self_perception_weight', 'income',
    'exercise', 'life_rewarding', 'healthy_feeling',
    'sports', 'weight'
]

weight                    1.000000
Gender                    0.537559
self_perception_weight    0.217317
drink                     0.211962
income                    0.185636
turkey_calories           0.159675
tortilla_calories         0.130747
soup                      0.120742
employment                0.118001
cook                      0.116041
type_sports               0.114904
cuisine                   0.112970
grade_level               0.110441
eating_changes_coded      0.105172
pay_meal_out              0.089482
ideal_diet_coded          0.087821
eating_out                0.086793
waffle_calories           0.082139
diet_current_coded        0.077053
parents_cook              0.075495
breakfast                 0.070741
mother_education          0.057121
italian_food              0.051480
eating_changes_coded1     0.051409
exercise                  0.051251
fav_cuisine_coded         0.042140
life_rewarding            0.033066
on_off_campus             0.029768
healthy_feeling           0.025001
fav_food                  0.023548
Name: weight, dtype: float64

In [111]:
important_features = [
    'Gender', 'self_perception_weight', 'drink', 'income', 'turkey_calories',
    'tortilla_calories', 'soup', 'employment', 'cook', 'cuisine',
    'grade_level', 'eating_changes_coded', 'pay_meal_out',
    'ideal_diet_coded', 'eating_out', 'waffle_calories',
    'diet_current_coded', 'parents_cook', 'breakfast',
    'mother_education', 'italian_food', 'exercise'
]

# Keep only the necessary columns
df_model = df[important_features + ['type_sports']]

# ==============================
# Step 4: Encode categorical columns
# ==============================
cat_cols = df_model.select_dtypes(include='object').columns

label_encoders = {}
for col in cat_cols:
    le = LabelEncoder()
    df_model[col] = df_model[col].astype(str)  # convert all to string
    df_model[col] = le.fit_transform(df_model[col])
    label_encoders[col] = le

# ==============================
# Step 5: Split into known and missing ‘type_sports’
# ==============================
known = df_model[df_model['type_sports'] != label_encoders['type_sports'].transform(['nan'])[0]]
missing = df_model[df_model['type_sports'] == label_encoders['type_sports'].transform(['nan'])[0]]

X = known.drop('type_sports', axis=1)
y = known['type_sports']

# ==============================
# Step 6: Train/Test Split and Model Training
# ==============================
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestClassifier(n_estimators=150, random_state=42)
model.fit(X_train, y_train)

# Evaluate
y_pred = model.predict(X_test)
print("\nAccuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

# ==============================
# Step 7: Predict Missing ‘type_sports’
# ==============================
if not missing.empty:
    X_missing = missing.drop('type_sports', axis=1)
    y_missing_pred = model.predict(X_missing)

    # Fill predictions
    df.loc[df['type_sports'].isna(), 'type_sports'] = label_encoders['type_sports'].inverse_transform(y_missing_pred)

# ==============================
# Step 8: Final Verification
# ==============================
print("\nMissing values after filling:", df['type_sports'].isna().sum())
print("\nUnique values in 'type_sports':\n", df['type_sports'].unique())

# Optional: Save final dataset
df.to_csv("data_filled.csv", index=False)
print("\n✅ Missing values in 'type_sports' successfully filled and saved to 'data_filled.csv'")

Accuracy: 0.25

Classification Report:
               precision    recall  f1-score   support

           1       0.00      0.00      0.00         1
           2       0.00      0.00      0.00         1
           7       0.00      0.00      0.00         1
          11       0.00      0.00      0.00         5
          13       0.00      0.00      0.00         1
          14       0.00      0.00      0.00         0
          15       0.00      0.00      0.00         0
          16       0.00      0.00      0.00         0
          18       0.00      0.00      0.00         0
          21       0.00      0.00      0.00         1
          25       0.00      0.00      0.00         0
          26       0.50      1.00      0.67         1
          28       0.40      1.00      0.57         2
          33       0.00      0.00      0.00         1
          35       0.00      0.00      0.00         1
          38       0.50      1.00      0.67         1

    accuracy                           0.25        16
   macro avg       0.09      0.19      0.12        16
weighted avg       0.11      0.25      0.15        16


Missing values after filling: 0

Unique values in 'type_sports':
 ['car racing' 'basketball' 'softball' 'marching band' 'soccer' 'running'
 'field hockey' 'soccer and basketball' 'intramural volleyball' 'hockey'
 'ice hockey' 'dancing' 'tennis' 'tennis soccer gym' 'gaelic football'
 'volleyball' 'lacrosse' 'hockey, soccer, golf' 'wrestling'
 'competitive skiing' 'i danced in high school' 'wrestling & rowing'
 'skiing' 'water polo and running'
 'recreational basketball, equestrian team' 'rec volleyball' 'baseball'
 'horse back riding' 'rowing, running, and cycling'
 'softball and basketball' 'collegiate water polo' 'volleyball, lacrosse'
 'fotball' 'crew' 'football, basketball, volleyball, golf'
 'volleyball, track'
 'when i can, rarely though play pool, darts, and basketball.'
 'i used to play softball' 'tennis, basketball']

✅ Missing values in 'type_sports' successfully filled and saved to 'data_filled.csv'