In [1]:
import pandas as pd

In [76]:
df = pd.read_csv('raw_data.csv')

In [4]:
df

,cust_id,join_date,order_total,satisfaction_score,product_category,feedback_text
0,C-1001,2024-03-15,120.50,4.5,Electronics,"Great product, fast shipping!"
1,C-1002,2023-07-22,75.00,5.0,Electronics,Love my new gadget.
2,C-1003,2024-05-15,25.50,NaN,Books,The delivery took a while.
3,C-1004,2023-07-22,75.00,5.0,Electronics,Love my new gadget.
4,C-1005,NaN,50.00,NaN,Apparel,The shirt was too small.
5,C-1006,2024-04-10,99.00,4.8,Electronics,"Good item, but box was damaged."
6,C-1007,2024-09-01,NaN,NaN,Electronics,Excellent service
7,C-1008,2024-06-20,250.75,NaN,Electronics,The device keeps overheating.
8,C-1009,2024-06-20,250.75,NaN,Electronics,The device keeps overheating.

In [53]:
df.info()        # Summary of columns, data types, non-null counts
df.describe()    # Statistical summary (mean, std, etc.)
df.head()        # First few rows
df.tail()        # Last few rows
df.shape         # Number of rows and columns
df.columns       # List of column names

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cust_id             9 non-null      int64
 1   join_date           9 non-null      object
 2   order_total         9 non-null      float64
 3   satisfaction_score  4 non-null      float64
 4   product_category    9 non-null      object
 5   feedback_text       9 non-null      object
dtypes: float64(2), int64(1), object(3)
memory usage: 564.0+ bytes

Index(['cust_id', 'join_date', 'order_total', 'satisfaction_score',
       'product_category', 'feedback_text'],
      dtype='object')

In [58]:
df['feedback_text']

0      Great product, fast shipping!
1                Love my new gadget.
2         The delivery took a while.
3                Love my new gadget.
4           The shirt was too small.
5    Good item, but box was damaged.
6                  Excellent service
7      The device keeps overheating.
8      The device keeps overheating.
Name: feedback_text, dtype: object

In [82]:
import pandas as pd
df['cust_id'] = range(1, len(df) + 1)


print(df)

   cust_id  join_date  order_total  satisfaction_score product_category  \
0        1 2024-03-15     120.5000               4.500      Electronics
1        2 2023-07-22      75.0000               5.000      Electronics
2        3 2024-05-15      25.5000               4.825            Books
3        4 2023-07-22      75.0000               5.000      Electronics
4        5 2023-07-22      50.0000               4.825          Apparel
5        6 2024-04-10      99.0000               4.800      Electronics
6        7 2024-09-01     118.3125               4.825      Electronics
7        8 2024-06-20     250.7500               4.825      Electronics
8        9 2024-06-20     250.7500               4.825      Electronics

                     feedback_text sentiment  sentiment_score
0    Great product, fast shipping!      Good              8.3
1              Love my new gadget.      Good              8.2
2       The delivery took a while.   Neutral              5.0
3              Love my new gadget.      Good              8.2
4         The shirt was too small.   Neutral              5.0
5  Good item, but box was damaged.       Bad              2.8
6                Excellent service      Good              7.9
7    The device keeps overheating.   Neutral              5.0
8    The device keeps overheating.   Neutral              5.0

In [70]:
df['join_date'] = pd.to_datetime(df['join_date'])
mean_date = df['join_date'].mean()
df['join_date'] = df['join_date'].fillna(mean_date)
df

,cust_id,join_date,order_total,satisfaction_score,product_category,feedback_text
0,C-1001,2024-03-15 00:00:00,120.50,4.5,Electronics,"Great product, fast shipping!"
1,C-1002,2023-07-22 00:00:00,75.00,5.0,Electronics,Love my new gadget.
2,C-1003,2024-05-15 00:00:00,25.50,NaN,Books,The delivery took a while.
3,C-1004,2023-07-22 00:00:00,75.00,5.0,Electronics,Love my new gadget.
4,C-1005,2024-03-12 03:00:00,50.00,NaN,Apparel,The shirt was too small.
5,C-1006,2024-04-10 00:00:00,99.00,4.8,Electronics,"Good item, but box was damaged."
6,C-1007,2024-09-01 00:00:00,NaN,NaN,Electronics,Excellent service
7,C-1008,2024-06-20 00:00:00,250.75,NaN,Electronics,The device keeps overheating.
8,C-1009,2024-06-20 00:00:00,250.75,NaN,Electronics,The device keeps overheating.

In [77]:
df['join_date'] = pd.to_datetime(df['join_date'])
mode_date = df['join_date'].mode()[0]
df['join_date'] = df['join_date'].fillna(mode_date)
df

,cust_id,join_date,order_total,satisfaction_score,product_category,feedback_text
0,C-1001,2024-03-15,120.50,4.5,Electronics,"Great product, fast shipping!"
1,C-1002,2023-07-22,75.00,5.0,Electronics,Love my new gadget.
2,C-1003,2024-05-15,25.50,NaN,Books,The delivery took a while.
3,C-1004,2023-07-22,75.00,5.0,Electronics,Love my new gadget.
4,C-1005,2023-07-22,50.00,NaN,Apparel,The shirt was too small.
5,C-1006,2024-04-10,99.00,4.8,Electronics,"Good item, but box was damaged."
6,C-1007,2024-09-01,NaN,NaN,Electronics,Excellent service
7,C-1008,2024-06-20,250.75,NaN,Electronics,The device keeps overheating.
8,C-1009,2024-06-20,250.75,NaN,Electronics,The device keeps overheating.

In [31]:
df['join_date'] = pd.to_datetime(df['join_date'])

# Fill based on product category (using mode per category)
df['join_date'] = df.groupby('product_category')['join_date'].transform(
    lambda x: x.fillna(x.mode()[0] if not x.mode().empty else pd.Timestamp.now())
)
df

,cust_id,join_date,order_total,satisfaction_score,product_category,feedback_text
0,1,2024-03-15 00:00:00.000000,120.50,4.5,Electronics,"Great product, fast shipping!"
1,2,2023-07-22 00:00:00.000000,75.00,5.0,Electronics,Love my new gadget.
2,3,2024-05-15 00:00:00.000000,25.50,NaN,Books,The delivery took a while.
3,4,2023-07-22 00:00:00.000000,75.00,5.0,Electronics,Love my new gadget.
4,5,2025-10-05 23:49:40.225083,50.00,NaN,Apparel,The shirt was too small.
5,6,2024-04-10 00:00:00.000000,99.00,4.8,Electronics,"Good item, but box was damaged."
6,7,2024-09-01 00:00:00.000000,NaN,NaN,Electronics,Excellent service
7,8,2024-06-20 00:00:00.000000,250.75,NaN,Electronics,The device keeps overheating.
8,9,2024-06-20 00:00:00.000000,250.75,NaN,Electronics,The device keeps overheating.

In [41]:
import pandas as pd

df['join_date'] = pd.to_datetime(df['join_date']).dt.normalize()
print(df['join_date'])

0   2024-03-15
1   2023-07-22
2   2024-05-15
3   2023-07-22
4   2024-03-12
5   2024-04-10
6   2024-09-01
7   2024-06-20
8   2024-06-20
Name: join_date, dtype: datetime64[ns]

In [47]:
import pandas as pd

df['join_date'] = pd.to_datetime(df['join_date']).dt.strftime('%Y-%m-%d')
print(df['join_date'])

0    2024-03-15
1    2023-07-22
2    2024-05-15
3    2023-07-22
4    2024-03-12
5    2024-04-10
6    2024-09-01
7    2024-06-20
8    2024-06-20
Name: join_date, dtype: object

In [48]:

df['join_date'] = pd.to_datetime(df['join_date']).dt.strftime('%d/%m/%Y')
print(df['join_date'])

0    15/03/2024
1    22/07/2023
2    15/05/2024
3    22/07/2023
4    12/03/2024
5    10/04/2024
6    01/09/2024
7    20/06/2024
8    20/06/2024
Name: join_date, dtype: object

In [57]:
df

,cust_id,join_date,order_total,satisfaction_score,product_category,feedback_text
0,1,15/03/2024,120.5000,4.500,Electronics,"Great product, fast shipping!"
1,2,22/07/2023,75.0000,5.000,Electronics,Love my new gadget.
2,3,15/05/2024,25.5000,4.825,Books,The delivery took a while.
3,4,22/07/2023,75.0000,5.000,Electronics,Love my new gadget.
4,5,12/03/2024,50.0000,4.825,Apparel,The shirt was too small.
5,6,10/04/2024,99.0000,4.800,Electronics,"Good item, but box was damaged."
6,7,01/09/2024,118.3125,4.825,Electronics,Excellent service
7,8,20/06/2024,250.7500,4.825,Electronics,The device keeps overheating.
8,9,20/06/2024,250.7500,4.825,Electronics,The device keeps overheating.

In [78]:
df['satisfaction_score'].fillna(df['satisfaction_score'].mean(), inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_4428\3126673088.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['satisfaction_score'].fillna(df['satisfaction_score'].mean(), inplace=True)

In [79]:
df['order_total'].fillna(df['order_total'].mean(), inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_4428\3587874084.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['order_total'].fillna(df['order_total'].mean(), inplace=True)

In [60]:
import pandas as pd
from textblob import TextBlob

def analyze_feedback(text):
    if pd.isna(text):
        return 'Neutral', 5.0
    
    # Create TextBlob object
    analysis = TextBlob(str(text))
    
    # Get polarity (-1 to 1)
    polarity = analysis.sentiment.polarity
    
    # Convert to 0-10 scale
    score = (polarity + 1) * 5
    
    # Categorize sentiment
    if score >= 7:
        sentiment = 'Good'
    elif score <= 3:
        sentiment = 'Bad'
    else:
        sentiment = 'Neutral'
    
    return sentiment, round(score, 1)

# Apply sentiment analysis
df[['sentiment', 'sentiment_score']] = df['feedback_text'].apply(
    lambda x: pd.Series(analyze_feedback(x))
)

# Display results
print(df[['feedback_text', 'sentiment', 'sentiment_score']].to_string(index=False))

                  feedback_text sentiment  sentiment_score
  Great product, fast shipping!      Good              7.6
            Love my new gadget.   Neutral              6.6
     The delivery took a while.   Neutral              5.0
            Love my new gadget.   Neutral              6.6
       The shirt was too small.   Neutral              3.8
Good item, but box was damaged.      Good              8.5
              Excellent service      Good             10.0
  The device keeps overheating.   Neutral              5.0
  The device keeps overheating.   Neutral              5.0

In [62]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

# Initialize VADER
analyzer = SentimentIntensityAnalyzer()

def analyze_sentiment_vader(text):
    if pd.isna(text):
        return 'Neutral', 5.0
    
    scores = analyzer.polarity_scores(str(text))
    compound = scores['compound']  # -1 to 1
    
    # Convert to 0-10 scale
    score = (compound + 1) * 5
    
    # Categorize
    if compound >= 0.05:
        sentiment = 'Good'
    elif compound <= -0.05:
        sentiment = 'Bad'
    else:
        sentiment = 'Neutral'
    
    return sentiment, round(score, 1)

df[['sentiment', 'sentiment_score']] = df['feedback_text'].apply(
    lambda x: pd.Series(analyze_sentiment_vader(x))
)

print(df[['feedback_text', 'sentiment', 'sentiment_score']])

                     feedback_text sentiment  sentiment_score
0    Great product, fast shipping!      Good              8.3
1              Love my new gadget.      Good              8.2
2       The delivery took a while.   Neutral              5.0
3              Love my new gadget.      Good              8.2
4         The shirt was too small.   Neutral              5.0
5  Good item, but box was damaged.       Bad              2.8
6                Excellent service      Good              7.9
7    The device keeps overheating.   Neutral              5.0
8    The device keeps overheating.   Neutral              5.0

In [63]:
df

,cust_id,join_date,order_total,satisfaction_score,product_category,feedback_text,sentiment,sentiment_score
0,C-1001,2024-03-15,120.50,4.5,Electronics,"Great product, fast shipping!",Good,8.3
1,C-1002,2023-07-22,75.00,5.0,Electronics,Love my new gadget.,Good,8.2
2,C-1003,2024-05-15,25.50,NaN,Books,The delivery took a while.,Neutral,5.0
3,C-1004,2023-07-22,75.00,5.0,Electronics,Love my new gadget.,Good,8.2
4,C-1005,NaN,50.00,NaN,Apparel,The shirt was too small.,Neutral,5.0
5,C-1006,2024-04-10,99.00,4.8,Electronics,"Good item, but box was damaged.",Bad,2.8
6,C-1007,2024-09-01,NaN,NaN,Electronics,Excellent service,Good,7.9
7,C-1008,2024-06-20,250.75,NaN,Electronics,The device keeps overheating.,Neutral,5.0
8,C-1009,2024-06-20,250.75,NaN,Electronics,The device keeps overheating.,Neutral,5.0

In [65]:
import pandas as pd
from transformers import pipeline
import torch

# Initialize sentiment analysis pipeline
sentiment_pipeline = pipeline(
    "sentiment-analysis",
    model="cardiffnlp/twitter-roberta-base-sentiment-latest",
    tokenizer="cardiffnlp/twitter-roberta-base-sentiment-latest"
)

def analyze_sentiment_transformers(text):
    if pd.isna(text):
        return 'Neutral', 5.0
    
    result = sentiment_pipeline(str(text))[0]
    label = result['label']
    confidence = result['score']
    
    # Map labels to scores
    if label == 'positive':
        sentiment = 'Good'
        score = 5 + (confidence * 5)  # 5-10 range
    elif label == 'negative':
        sentiment = 'Bad'
        score = 5 - (confidence * 5)  # 0-5 range
    else:  # neutral
        sentiment = 'Neutral'
        score = 5.0
    
    return sentiment, round(score, 1)

# Apply to first few rows (transformers can be slow)
df[['sentiment', 'sentiment_score']] = df['feedback_text'].head().apply(
    lambda x: pd.Series(analyze_sentiment_transformers(x))
)

config.json:   0%|          | 0.00/929 [00:00<?, ?B/s]

C:\Users\DELL\AppData\Roaming\Python\Python313\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\DELL\.cache\huggingface\hub\models--cardiffnlp--twitter-roberta-base-sentiment-latest. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

WARNING:tensorflow:From C:\Users\DELL\AppData\Roaming\Python\Python313\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

Xet Storage is enabled for this repo, but the 'hf_xet' package is not installed. Falling back to regular HTTP download. For better performance, install the package with: `pip install huggingface_hub[hf_xet]` or `pip install hf_xet`

pytorch_model.bin:   0%|          | 0.00/501M [00:00<?, ?B/s]

Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

vocab.json: 0.00B [00:00, ?B/s]

merges.txt: 0.00B [00:00, ?B/s]

Xet Storage is enabled for this repo, but the 'hf_xet' package is not installed. Falling back to regular HTTP download. For better performance, install the package with: `pip install huggingface_hub[hf_xet]` or `pip install hf_xet`

special_tokens_map.json:   0%|          | 0.00/239 [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/501M [00:00<?, ?B/s]

Device set to use cpu

In [68]:
df

,cust_id,join_date,order_total,satisfaction_score,product_category,feedback_text,sentiment,sentiment_score
0,C-1001,2024-03-15,120.50,4.5,Electronics,"Great product, fast shipping!",Good,9.9
1,C-1002,2023-07-22,75.00,5.0,Electronics,Love my new gadget.,Good,9.9
2,C-1003,2024-05-15,25.50,NaN,Books,The delivery took a while.,Neutral,5.0
3,C-1004,2023-07-22,75.00,5.0,Electronics,Love my new gadget.,Good,9.9
4,C-1005,NaN,50.00,NaN,Apparel,The shirt was too small.,Bad,2.1
5,C-1006,2024-04-10,99.00,4.8,Electronics,"Good item, but box was damaged.",NaN,NaN
6,C-1007,2024-09-01,NaN,NaN,Electronics,Excellent service,NaN,NaN
7,C-1008,2024-06-20,250.75,NaN,Electronics,The device keeps overheating.,NaN,NaN
8,C-1009,2024-06-20,250.75,NaN,Electronics,The device keeps overheating.,NaN,NaN

In [84]:
import pandas as pd
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer

# Download required NLTK data
nltk.download('vader_lexicon')

sia = SentimentIntensityAnalyzer()

def analyze_sentiment_nltk(text):
    if pd.isna(text):
        return 'Neutral', 5.0
    
    scores = sia.polarity_scores(str(text))
    compound = scores['compound']
    
    # Convert to 0-10 scale
    score = (compound + 1) * 5
    
    if compound >= 0.05:
        sentiment = 'Good'
    elif compound <= -0.05:
        sentiment = 'Bad'
    else:
        sentiment = 'Neutral'
    
    return sentiment, round(score, 1)

df[['sentiment', 'sentiment_score']] = df['feedback_text'].apply(
    lambda x: pd.Series(analyze_sentiment_nltk(x))
)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [85]:
df

,cust_id,join_date,order_total,satisfaction_score,product_category,feedback_text,sentiment,sentiment_score
0,1,2024-03-15,120.5000,4.500,Electronics,"Great product, fast shipping!",Good,8.3
1,2,2023-07-22,75.0000,5.000,Electronics,Love my new gadget.,Good,8.2
2,3,2024-05-15,25.5000,4.825,Books,The delivery took a while.,Neutral,5.0
3,4,2023-07-22,75.0000,5.000,Electronics,Love my new gadget.,Good,8.2
4,5,2023-07-22,50.0000,4.825,Apparel,The shirt was too small.,Neutral,5.0
5,6,2024-04-10,99.0000,4.800,Electronics,"Good item, but box was damaged.",Bad,2.8
6,7,2024-09-01,118.3125,4.825,Electronics,Excellent service,Good,7.9
7,8,2024-06-20,250.7500,4.825,Electronics,The device keeps overheating.,Neutral,5.0
8,9,2024-06-20,250.7500,4.825,Electronics,The device keeps overheating.,Neutral,5.0